services:
  postgres:
    image: postgres:16.4
    container_name: database
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: pswd
      POSTGRES_DB: NadoPC
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d NadoPC" ]
      interval: 30s
      timeout: 30s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true

  app:
    build:
      context: .
    container_name: app
    ports: 
      - "8000:8000"
    depends_on:
      - postgres
    volumes:
      - ./src/static:/root/static
      - ./src/templates:/root/templates

volumes:
  pgdata:
    driver: local
